* {
    box-sizing: border-box;
}

body {
    background: url(background.jpg) repeat;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow: auto;
    color: #777;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-weight: bold;
}

header {
    background: white;
    border-bottom: 3px solid #ccc;
    margin-bottom: 30px;
}


header h1 {
    background: #4aaaa5;
    color: white;
    display: inline-block;
    padding: 30px;
    font-size: 30px;
}
nav {
    width: 400px;
    float: right;
    margin-top: 40px;
    text-align: center;
}

nav ul li {
    display: inline;

}
nav a {
    color: #777;
   padding: 5px 15px;
    border-right: 2px solid #777;
    text-decoration: none;
}

nav ul li:last-child a {
    border-right: none;
    padding-right: none;

}

.bio {
    background: white;
    padding: 25px;
    border: 2px solid #ccc;


}

p {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 20px;
}

form label {
font-size: 18px;
display: block;
}

form input, form textarea {
    width: 100%;
    display: block;
    margin: 5px 0 20px 0;
    border: 2px solid #ccc;
    padding: 10px;
    font-size: 16px;
}

form textarea {

    height: 300px;

}

form button {
    background: #4aaaa5;
    color: #fff;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 18px;
    border: 2px solid #ccc;
}
footer {
    background: #666;
    border-top: 3px solid #4aaaa5;
    color: #ccc;
    text-align: center;
    padding: 40px;
    margin-top: 100px;
}

h2 {
    font-size: 24px;
    padding: 15px 0;
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
}

.me {
    float: left;
    margin: 0 15px 15px 0;
    border: 1px solid #ccc;
    width: 200px;
    height: 400px;
    display: block;
}

.clearfix {
    display: block;
    clear: both;

}











.wrap {
    width: 960px;
    margin: 0 auto;
}
